.content_container{
    max-width:1080px;
}
.flex-control-nav{
    text-align:center;
    bottom:-40px;
    right:0;
}

.flex-control-paging li a{
    background:#4a4a4a;
    -webkit-box-shadow:  0 0 0 6px #EDEDED;
    -moz-box-shadow:  0 0 0 6px #EDEDED;
    -o-box-shadow:  0 0 0 6px #EDEDED;
    box-shadow:  0 0 0 6px #EDEDED;
    margin:0 8px;
}

.wishlist_logo{
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 30px;
    width:148px;
}

.custom_slider{
    margin: 20px auto;
}

.wishlist_social{
    width: 32px;
    margin: 0 20px;
}

.share_social{
    margin: 0 10px;
    color:#5F6263;
}

.share_social img{
    margin-top: -5px;
}

.wishlist_footer{
    color:#333;
    font-size:12px;
}

.wishlist_footer2{
    color:#BFBEBD;
}

