.content_container{
    max-width:1080px;
}
.flex-control-nav{
    text-align:center;
    bottom:-40px;
    right:0;
}

.flex-control-paging li a{
    background:#4a4a4a;
    -webkit-box-shadow:  0 0 0 6px #EDEDED;
    -moz-box-shadow:  0 0 0 6px #EDEDED;
    -o-box-shadow:  0 0 0 6px #EDEDED;
    box-shadow:  0 0 0 6px #EDEDED;
    margin:0 8px;
}

.wishlist_logo{
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 30px;
    width:148px;
}

.custom_slider{
    margin: 20px auto;
}

.wishlist_social{
    width: 32px;
    margin: 0 20px;
}

.share_social{
    margin: 0 10px;
    color:#5F6263;
    cursor:pointer;
}

.share_social img{
    margin-top: -5px;
    width:16px;
}

.wishlist_footer{
    color:#333;
    font-size:12px;
}

.wishlist_footer2 a{
    color:#BFBEBD;
}

.wishlist_footer2 a:hover{
    text-decoration:none;
}

.wishlist_social:hover {
    opacity: .8;
}

.share_social:hover{
    color:#5F6263;
}

.wishlist_footer2 a:hover{
    color:#5F6263;
}

.flex-direction-nav a:before  { 
    content: " ";
    display: block;
    background: url('http://assets.codecloudapp.com/sites/56056be06e6f641a1d020000/image/png/1447352973000/Triangle 1.png') no-repeat;
    width: 40px;
    height: 40px;
        background-size: 40px;
}
.flex-direction-nav a.flex-next:before  { 
    content: " ";
    display: block;
    background: url('http://assets.codecloudapp.com/sites/56056be06e6f641a1d020000/image/png/1447352962000/Triangle 1 Copy.png') no-repeat;
    width: 40px;
    height: 40px;
        background-size: 40px;
}


@media(max-width:800px){
    .share_social img{
        width:25px;
    }
    .share_social{
        width:100px;
        margin:0;
        margin-bottom:10px;
        display:inline-block;
        text-align:left;
    }
    .flex-direction-nav a:before , .flex-direction-nav a.flex-next:before { 
    }
}





